<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button [class.selected]="category == 'cameras'" (click)="selectCategory(0)">Appareils photo</button>
      <button [class.selected]="category == 'consoles'" (click)="selectCategory(1)">Consoles</button>
      <button [class.selected]="category == 'screens'" (click)="selectCategory(2)">Écrans</button>
      <button [class.selected]="category == 'computers'" (click)="selectCategory(3)">Ordinateurs</button>
      <button [class.selected]="category == 'all'" (click)="selectCategory(4)">Tous les produits</button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button [class.selected] = "sortingCriteria == 'price-asc'" (click)="selectCriteria(0)">Prix (bas-haut)</button>
      <button [class.selected]="sortingCriteria == 'price-dsc'" (click)="selectCriteria(1)">Prix (haut-bas)</button>
      <button [class.selected]="sortingCriteria == 'alpha-asc'" (click)="selectCriteria(2)">Nom (A-Z)</button>
      <button [class.selected]="sortingCriteria == 'alpha-dsc'" (click)="selectCriteria(3)">Nom (Z-A)</button>
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{products.length}} produits</span>
  <h1>Produits</h1>
  <div class="products" id="products-list">
    <div class="product" *ngFor="let product of products">
      <a routerLink="/produits/{{product.id}}" title="En savoir plus...">
        <h2>{{product.name}}</h2>
        <img alt="{{product.name}}" src="/assets/img/{{product.image}}">
        <p><small>Prix</small> {{product.price | prix}}&thinsp;$</p>
      </a>
    </div>
  </div>
</article>
